In [2]:
import pandas as pd

In [7]:
1%5000

1

In [3]:
df = pd.read_csv('/home/ramprasad.sa/probing_summarization_factuality/datasets/Genaudit_annotations.csv')
df.head()

,Unnamed: 0,id,source,summary,annotated_spans,model,origin
0,0,Rachel Usher#REDDIT-83:flanul2-ul2,both me and my girlfriend participate in winte...,I waited outside the locker rooms for my girlf...,nobody,flanul2,REDDIT
1,1,Rachel Usher#REDDIT-83:llama70b-ul2,both me and my girlfriend participate in winte...,A high school student was waiting for his girl...,after,llama70b,REDDIT
2,2,Rachel Usher#REDDIT-83:falcon7b-ul2,both me and my girlfriend participate in winte...,The protagonist is concerned about a potential...,concerned about a potential delay in meeting<s...,falcon7b,REDDIT
3,3,Rachel Usher#REDDIT-83:llama7b-ul2,both me and my girlfriend participate in winte...,The writer and their girlfriend are both invol...,is late<sep>bus and doesn't realize that their...,llama7b,REDDIT
4,4,Rachel Usher#REDDIT-83:mistral7b-ul2,both me and my girlfriend participate in winte...,The document describes the experience of a hig...,participates<sep>with their girlfriend<sep>ends,mistral7b,REDDIT

In [4]:
set(df['origin'])

{'ACIBENCH', 'REDDIT', 'XSUM'}

In [6]:
df['summary'].values[-13]

'Harper Adams University is fitting tracking devices to slugs to learn more about their behavior and how they affect crops.. The researchers aim to answer an interesting problem facing farmers, how do slugs live amongst their crops?. The study will use improved tracking technology to accurately follow slug movements for the first time, and could provide a better way to control them by revealing more about their behavior.. The study has received funding from several organizations, including the Agriculture and Horticulture Development Board, The Potato Council, and Cereals and Oilseeds.. Despite one slug being lost during the study, the researchers are confident in the technology and the results it will provide.'

In [7]:
df['annotated_spans'].values[-13]

'and how they affect crops<sep>several organizations including'

In [8]:
df_usb = pd.read_csv('/home/ramprasad.sa/probing_summarization_factuality/datasets/USB_annotations.csv')
df_usb.head()

,Unnamed: 0,id,source,summary,annotated_spans,model,origin
0,0,Cynthia Lamanda#XSUM-34443723#1701418173:flanu...,The case against two men accused of stealing £...,A third man is due to appear in court to face ...,NaN,flanul2,XSUM
1,1,Cynthia Lamanda#XSUM-34443723#1701418173:mistr...,The case against two men accused of stealing £...,The document discusses a case where two men fr...,NaN,mistral7b,XSUM
2,2,Cynthia Lamanda#XSUM-34443723#1701418173:falco...,The case against two men accused of stealing £...,"On 17 June, a trailer containing biscuits wort...",the same day,falcon7b,XSUM
3,3,Cynthia Lamanda#XSUM-34443723#1701418173:llama...,The case against two men accused of stealing £...,The case against two men accused of stealing £...,NaN,llama7b,XSUM
4,4,Cynthia Lamanda#XSUM-34443723#1701418173:llama...,The case against two men accused of stealing £...,"Two men accused of stealing £20,000 worth of b...",NaN,llama70b,XSUM

In [12]:
df[df['id'].isin(df_usb['id'])]

Empty DataFrame
Columns: [Unnamed: 0, id, source, summary, annotated_spans, model, origin]
Index: []

In [14]:
df_test = df_usb[df_usb['model'] == 'mistral7b']
df_test = df_test[df_test['origin'] == 'XSUM']
df_test

,Unnamed: 0,id,source,summary,annotated_spans,model,origin
1,1,Cynthia Lamanda#XSUM-34443723#1701418173:mistr...,The case against two men accused of stealing £...,The document discusses a case where two men fr...,NaN,mistral7b,XSUM
15,15,Rachel Usher#XSUM-37820092#1701985330:mistral7...,Shanghai is trialling a unisex public toilet b...,Shanghai is trialting a unisex public toilet b...,trialting<sep>and,mistral7b,XSUM
24,24,Cynthia Lamanda#XSUM-34007864#1701421263:mistr...,The results have been published for more than ...,"The GCSE results have been published, showing ...",GC,mistral7b,XSUM
28,28,Rachel Usher#XSUM-34774405#1702060494:mistral7...,Russia is not the only country with systemic d...,The document discusses the problem of systemic...,NaN,mistral7b,XSUM
33,33,Rachel Usher#XSUM-34814828#1702059419:mistral7...,Surely some of the first rules of wooing are: ...,The European Union (EU) is attempting to tackl...,NaN,mistral7b,XSUM
...,...,...,...,...,...,...,...
528,528,Rachel Usher#XSUM-12889429#1702239043:mistral7...,Mining giant Rio Tinto has lowered its minimum...,Rio Tinto has lowered its minimum acceptances ...,NaN,mistral7b,XSUM
534,534,Emily Edwards#XSUM-35643091#1701926556:mistral...,At Harper Adams University they are fitting tr...,Harper Adams University is conducting research...,NaN,mistral7b,XSUM
549,549,Emily Edwards#XSUM-33959314#1702023773:mistral...,The former chairman of Myanmar's ruling party ...,"The former chairman of Myanmar's ruling party,...",NaN,mistral7b,XSUM
556,556,Emily Edwards#XSUM-40480356#1701848713:mistral...,League Two side Crewe Alexandra have signed de...,Crewe Alexandra has signed defender Eddie Nola...,NaN,mistral7b,XSUM
559,559,Cynthia Lamanda#XSUM-38905952#1701400636:mistr...,Super League newcomers Leigh Centurions have s...,"Leigh Centurions, newcomers to the Super Leagu...",NaN,mistral7b,XSUM

In [16]:
df_test_2 = df[df['model'] == 'mistral7b']
df_test_2 = df_test_2[df_test_2['origin'] == 'XSUM']
df_test_2

,Unnamed: 0,id,source,summary,annotated_spans,model,origin
24,24,Cynthia Lamanda#XSUM-34017556:mistral7b-ul2,"Scotland's workforce is ""caught in a cruel tra...",Scotland's workforce is facing a growing crisi...,NaN,mistral7b,XSUM
33,33,Rachel Usher#XSUM-12889429:mistral7b-ul2,Mining giant Rio Tinto has lowered its minimum...,Rio Tinto has lowered its minimum acceptances ...,NaN,mistral7b,XSUM
66,66,Rachel Usher#XSUM-35441162:mistral7b-ul2,Claims direct cross-border rail services could...,Wales' transport minister Edwina Hart has dism...,NaN,mistral7b,XSUM
105,105,Rachel Usher#XSUM-28345611:mistral7b-ul2,When you think of a laboratory you wouldn't us...,The Shakespeare's Globe Theatre in London is a...,is,mistral7b,XSUM
112,112,Cynthia Lamanda#XSUM-35862185:mistral7b-ul2,England failed to build on the optimism genera...,The document discusses England's loss to the N...,in London<sep>the winner,mistral7b,XSUM
142,142,Cynthia Lamanda#XSUM-29928061:mistral7b-ul2,One of the longest-held detainees at the US fa...,"The Kuwaiti man, Fawzi al-Odah, who was one of...",NaN,mistral7b,XSUM
247,247,Cynthia Lamanda#XSUM-40480356:mistral7b-ul2,League Two side Crewe Alexandra have signed de...,Crewe Alexandra has signed defender Eddie Nola...,NaN,mistral7b,XSUM
262,262,Rachel Usher#XSUM-34774405:mistral7b-ul2,Russia is not the only country with systemic d...,The document discusses the problem of systemic...,NaN,mistral7b,XSUM
269,269,Rachel Usher#XSUM-33959314:mistral7b-ul2,The former chairman of Myanmar's ruling party ...,"The former chairman of Myanmar's ruling party,...",NaN,mistral7b,XSUM
283,283,Rachel Usher#XSUM-32915014:mistral7b-ul2,GoPro's chief executive has confirmed it will ...,"GoPro's CEO, Nick Woodman, has announced that ...",NaN,mistral7b,XSUM
341,341,Rachel Usher#XSUM-38511385:mistral7b-ul2,"A woman was tied up and ""brutally murdered"" by...","A woman, Bethany Hill, was brutally murdered b...",NaN,mistral7b,XSUM
357,357,Rachel Usher#XSUM-35455958:mistral7b-ul2,Derry football manager Damian Barton has descr...,Derry football manager Damian Barton described...,NaN,mistral7b,XSUM
373,373,Cynthia Lamanda#XSUM-34846955:mistral7b-ul2,Welsh housing associations directly contribute...,Welsh housing associations made a significant ...,£1.1,mistral7b,XSUM
389,389,Cynthia Lamanda#XSUM-39664212:mistral7b-ul2,Police in Germany have charged a man suspected...,A man identified as Sergej W has been charged ...,NaN,mistral7b,XSUM
404,404,Rachel Usher#XSUM-34007864:mistral7b-ul2,The results have been published for more than ...,"The GCSE results have been published, showing ...",GC,mistral7b,XSUM
416,416,Cynthia Lamanda#XSUM-37820092:mistral7b-ul2,Shanghai is trialling a unisex public toilet b...,Shanghai is trialting a unisex public toilet b...,trialting,mistral7b,XSUM
427,427,Cynthia Lamanda#XSUM-30573259:mistral7b-ul2,A disc jockey has been jailed for eight months...,A disc jockey named Gary Neville from Belfast ...,NaN,mistral7b,XSUM
477,477,Rachel Usher#XSUM-40110402:mistral7b-ul2,Companies must prepare for new tougher EU rule...,PwC has warned companies about the upcoming ne...,NaN,mistral7b,XSUM
500,500,Cynthia Lamanda#XSUM-19389161:mistral7b-ul2,"Indian Olympics bronze medallist, boxer MC Mar...",Bollywood director Sanjay Leela Bhansali plans...,with Mary Kom herself<sep>leadership,mistral7b,XSUM
525,525,Rachel Usher#XSUM-39219188:mistral7b-ul2,Amputee football is played all over the world ...,Amputee football is a sport played all over th...,NaN,mistral7b,XSUM
533,533,Rachel Usher#XSUM-38021627:mistral7b-ul2,In the Scottish Football Association's stateme...,The Scottish Football Association (SFA) made a...,regarding<sep>resignation<sep>but<sep>finding ...,mistral7b,XSUM
569,569,Cynthia Lamanda#XSUM-34443723:mistral7b-ul2,The case against two men accused of stealing £...,The document discusses a case where two men fr...,NaN,mistral7b,XSUM
579,579,Cynthia Lamanda#XSUM-31763768:mistral7b-ul2,Bestival has revealed an all-female line-up in...,Bestival has announced an all-female line-up f...,male,mistral7b,XSUM
594,594,Cynthia Lamanda#XSUM-38773590:mistral7b-ul2,Burton Albion have signed Lasse Vigen Christen...,Burton Albion have signed Lasse Vigen Christen...,NaN,mistral7b,XSUM
603,603,Rachel Usher#XSUM-34814828:mistral7b-ul2,Surely some of the first rules of wooing are: ...,The European Union (EU) is attempting to tackl...,NaN,mistral7b,XSUM
609,609,Cynthia Lamanda#XSUM-36628767:mistral7b-ul2,Tributes were paid to service personnel at hun...,Armed Forces Day was celebrated in the UK with...,NaN,mistral7b,XSUM
634,634,Cynthia Lamanda#XSUM-38905952:mistral7b-ul2,Super League newcomers Leigh Centurions have s...,"Leigh Centurions, newcomers to the Super Leagu...",NaN,mistral7b,XSUM
649,649,Cynthia Lamanda#XSUM-36015122:mistral7b-ul2,Security forces are controlling who enters the...,The Nigerian Football Federation (NFF) headqua...,NaN,mistral7b,XSUM
688,688,Rachel Usher#XSUM-35643091:mistral7b-ul2,At Harper Adams University they are fitting tr...,Harper Adams University is conducting research...,and habitat,mistral7b,XSUM
694,694,Rachel Usher#XSUM-39387550:mistral7b-ul2,US President Donald Trump has withdrawn his he...,"The American Health Care Act, a healthcare bil...",and the Republican Party,mistral7b,XSUM

In [18]:
df_test_2[df_test_2['source'].isin(df_test['source'])]

30

In [24]:
df_test[~df_test['id'].isin(df_test_2['id'])]

,Unnamed: 0,id,source,summary,annotated_spans,model,origin
1,1,Cynthia Lamanda#XSUM-34443723#1701418173:mistr...,The case against two men accused of stealing £...,The document discusses a case where two men fr...,NaN,mistral7b,XSUM
15,15,Rachel Usher#XSUM-37820092#1701985330:mistral7...,Shanghai is trialling a unisex public toilet b...,Shanghai is trialting a unisex public toilet b...,trialting<sep>and,mistral7b,XSUM
24,24,Cynthia Lamanda#XSUM-34007864#1701421263:mistr...,The results have been published for more than ...,"The GCSE results have been published, showing ...",GC,mistral7b,XSUM
28,28,Rachel Usher#XSUM-34774405#1702060494:mistral7...,Russia is not the only country with systemic d...,The document discusses the problem of systemic...,NaN,mistral7b,XSUM
33,33,Rachel Usher#XSUM-34814828#1702059419:mistral7...,Surely some of the first rules of wooing are: ...,The European Union (EU) is attempting to tackl...,NaN,mistral7b,XSUM
...,...,...,...,...,...,...,...
528,528,Rachel Usher#XSUM-12889429#1702239043:mistral7...,Mining giant Rio Tinto has lowered its minimum...,Rio Tinto has lowered its minimum acceptances ...,NaN,mistral7b,XSUM
534,534,Emily Edwards#XSUM-35643091#1701926556:mistral...,At Harper Adams University they are fitting tr...,Harper Adams University is conducting research...,NaN,mistral7b,XSUM
549,549,Emily Edwards#XSUM-33959314#1702023773:mistral...,The former chairman of Myanmar's ruling party ...,"The former chairman of Myanmar's ruling party,...",NaN,mistral7b,XSUM
556,556,Emily Edwards#XSUM-40480356#1701848713:mistral...,League Two side Crewe Alexandra have signed de...,Crewe Alexandra has signed defender Eddie Nola...,NaN,mistral7b,XSUM
559,559,Cynthia Lamanda#XSUM-38905952#1701400636:mistr...,Super League newcomers Leigh Centurions have s...,"Leigh Centurions, newcomers to the Super Leagu...",NaN,mistral7b,XSUM

In [22]:
len([row for idx, row in df_test.iterrows() if 'Emily' in row['id']])

21